<footer class="sections" id="footer-sections" data-footer-sections>

<section
data-test="page-section"

data-section-theme="black"
class='page-section

layout-engine-section

background-width--full-bleed

section-height--small


content-width--wide

horizontal-alignment--left
vertical-alignment--middle


black'

data-section-id="5e9333fa6017a85e2ed50f9d"

data-controller="SectionWrapperController"
data-current-styles="{
&quot;imageOverlayOpacity&quot;: 0.15,
&quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
&quot;sectionHeight&quot;: &quot;section-height--small&quot;,
&quot;horizontalAlignment&quot;: &quot;horizontal-alignment--left&quot;,
&quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
&quot;contentWidth&quot;: &quot;content-width--wide&quot;,
&quot;sectionTheme&quot;: &quot;black&quot;,
&quot;sectionAnimation&quot;: &quot;none&quot;,
&quot;backgroundMode&quot;: &quot;image&quot;
}"
data-animation="none"


>
<div class="section-background">



</div>
<div
class="content-wrapper"
style='



'
>
<div
class="content"

>





<div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-5e9333fa6017a85e2ed50f9d"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1589801017635_33322"><div class="sqs-block-content">



<div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color- social-icons-size-small social-icons-style-regular " >
<nav class="sqs-svg-icon--list">
<a href="http://fb.me/boodatingapp" target="_blank" class="sqs-svg-icon--wrapper facebook-unauth" aria-label="">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#facebook-unauth-icon"></use>
  <use class="sqs-use--mask" xlink:href="#facebook-unauth-mask"></use>
</svg>
</div>
</a><a href="https://www.instagram.com/bootheapp" target="_blank" class="sqs-svg-icon--wrapper instagram-unauth" aria-label="">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#instagram-unauth-icon"></use>
  <use class="sqs-use--mask" xlink:href="#instagram-unauth-mask"></use>
</svg>
</div>
</a><a href="https://twitter.com/BooTheApp" target="_blank" class="sqs-svg-icon--wrapper twitter-unauth" aria-label="Twitter">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#twitter-unauth-icon"></use>
  <use class="sqs-use--mask" xlink:href="#twitter-unauth-mask"></use>
</svg>
</div>
</a><a href="https://fi.pinterest.com/BooAppOfficial/" target="_blank" class="sqs-svg-icon--wrapper pinterest-unauth" aria-label="Pinterest">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#pinterest-unauth-icon"></use>
  <use class="sqs-use--mask" xlink:href="#pinterest-unauth-mask"></use>
</svg>
</div>
</a><a href="https://www.youtube.com/channel/UCvY-fBuYSNIPrJI6rAOzgBA" target="_blank" class="sqs-svg-icon--wrapper youtube-unauth" aria-label="YouTube">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#youtube-unauth-icon"></use>
  <use class="sqs-use--mask" xlink:href="#youtube-unauth-mask"></use>
</svg>
</div>
</a><a href="https://www.linkedin.com/company/34751683" target="_blank" class="sqs-svg-icon--wrapper linkedin-unauth" aria-label="LinkedIn">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#linkedin-unauth-icon"></use>
  <use class="sqs-use--mask" xlink:href="#linkedin-unauth-mask"></use>
</svg>
</div>
</a><a href="http://www.tiktok.com/@boo_app" target="_blank" class="sqs-svg-icon--wrapper url" aria-label="URL">
<div>
<svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
  <use class="sqs-use--icon" xlink:href="#url-icon"></use>
  <use class="sqs-use--mask" xlink:href="#url-mask"></use>
</svg>
</div>
</a>
</nav>
</div>
</div></div><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="1.6603773584905661" data-block-type="21" id="block-yui_3_17_2_1_1622075407188_14799"><div class="sqs-block-content">&nbsp;</div></div><div class="row sqs-row"><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1621900426552_10636"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>What We Do</strong></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/features" target="_blank">Features</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/blog/why-we-created-boo" target="_blank">Our Story</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/blog/what-the-mbti-taught-me-about-love-dating-and-compatibility" target="_blank">Our Algorithm</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/blog/is-the-mbti-legitimate" target="_blank">MBTI Myths Debunked</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/faq" target="_blank">FAQ</a></p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1621900426552_12845"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>Our Community</strong></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/testimonials" target="_blank">Testimonials</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/community-guidelines" target="_blank">Community Guidelines</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/safety-tips" target="_blank">Safety Tips</a></p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1621900426552_11353"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>Compare</strong></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/tinder" target="_blank">Tinder</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/bumble" target="_blank">Bumble</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/okcupid" target="_blank">OkCupid</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/hinge" target="_blank">Hinge</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/comparisons" target="_blank">See All Comparisons</a></p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1621900426552_14396"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>Company</strong></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/contact-us" target="_blank">Contact Us</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/privacy-policy" target="_blank">Privacy Policy</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/terms-and-conditions" target="_blank">Terms and Conditions</a></p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1621900426552_16243"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>Freebies</strong></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/quizzes/dating-and-relationships/type-guesser" target="_blank">Type Guesser</a></p><p class="sqsrte-small" style="white-space:pre-wrap;"><a href="https://boo.world/quizzes/dating-and-relationships/soulmate-and-compatibility">Compatibility Quiz</a></p></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1621900426552_17968"><div class="sqs-block-content"><p class="" style="white-space:pre-wrap;"><strong>Download Boo</strong></p></div></div><div class="sqs-block image-block sqs-block-image" data-aspect-ratio="35.41666666666667" data-block-type="5" id="block-yui_3_17_2_1_1621902657030_17927"><div class="sqs-block-content">












<div
class="
  image-block-outer-wrapper
  layout-caption-below
  design-layout-inline
  combination-animation-site-default
  individual-animation-site-default
  individual-text-animation-site-default
"
data-test="image-block-inline-outer-wrapper"
>




<figure
    class="
      sqs-block-image-figure
      intrinsic
    "
    style="max-width:285px;"
>





  <a
      class="
        sqs-block-image-link



      "
      href="https://signup.boo.world/universe-ios"
      target="_blank"
  >

  <div

        style="padding-bottom:35.41666793823242%;"

      class="
        image-block-wrapper



        has-aspect-ratio
      "
      data-animation-role="image"



  >
    <noscript><img src="https://images.squarespace-cdn.com/content/v1/5e085872c5728c661f30fa0a/1619612087913-F3D5ARXDTKOM8A9E43TY/ke17ZwdGBToddI8pDm48kJMjzIZhKimNk0LjUbMURUpZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7WZOYOGuexubfahzU3poi_r1YLbEvzq1WyNmTZnmADIG_-n1QOmhMVP2ZXR6O-hx5Q/app+store_apple.png" alt="app store_apple.png" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5e085872c5728c661f30fa0a/1619612087913-F3D5ARXDTKOM8A9E43TY/ke17ZwdGBToddI8pDm48kJMjzIZhKimNk0LjUbMURUpZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7WZOYOGuexubfahzU3poi_r1YLbEvzq1WyNmTZnmADIG_-n1QOmhMVP2ZXR6O-hx5Q/app+store_apple.png" data-image="https://images.squarespace-cdn.com/content/v1/5e085872c5728c661f30fa0a/1619612087913-F3D5ARXDTKOM8A9E43TY/ke17ZwdGBToddI8pDm48kJMjzIZhKimNk0LjUbMURUpZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7WZOYOGuexubfahzU3poi_r1YLbEvzq1WyNmTZnmADIG_-n1QOmhMVP2ZXR6O-hx5Q/app+store_apple.png" data-image-dimensions="285x101" data-image-focal-point="0.5,0.5" alt="app store_apple.png" data-load="false" data-image-id="60ac45be00654d51a275de6a" data-type="image" />
  </div>

  </a>




</figure>


</div>






</div></div><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1621902657030_19641"><div class="sqs-block-content">












<div
class="
  image-block-outer-wrapper
  layout-caption-below
  design-layout-inline
  combination-animation-site-default
  individual-animation-site-default
  individual-text-animation-site-default
"
data-test="image-block-inline-outer-wrapper"
>




<figure
    class="
      sqs-block-image-figure
      intrinsic
    "
    style="max-width:285px;"
>





  <a
      class="
        sqs-block-image-link



      "
      href="https://signup.boo.world/universe-android"
      target="_blank"
  >

  <div

        style="padding-bottom:35.4385986328125%;"

      class="
        image-block-wrapper



        has-aspect-ratio
      "
      data-animation-role="image"



  >
    <noscript><img src="https://images.squarespace-cdn.com/content/v1/5e085872c5728c661f30fa0a/1619612140938-HQHMJJNQNK361CN9U6SH/ke17ZwdGBToddI8pDm48kJMjzIZhKimNk0LjUbMURUpZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7WZOYOGuexubfahzU3poi_r1YLbEvzq1WyNmTZnmADIG_-n1QOmhMVP2ZXR6O-hx5Q/app+store_google+play.png" alt="app store_google play.png" /></noscript><img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5e085872c5728c661f30fa0a/1619612140938-HQHMJJNQNK361CN9U6SH/ke17ZwdGBToddI8pDm48kJMjzIZhKimNk0LjUbMURUpZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7WZOYOGuexubfahzU3poi_r1YLbEvzq1WyNmTZnmADIG_-n1QOmhMVP2ZXR6O-hx5Q/app+store_google+play.png" data-image="https://images.squarespace-cdn.com/content/v1/5e085872c5728c661f30fa0a/1619612140938-HQHMJJNQNK361CN9U6SH/ke17ZwdGBToddI8pDm48kJMjzIZhKimNk0LjUbMURUpZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7WZOYOGuexubfahzU3poi_r1YLbEvzq1WyNmTZnmADIG_-n1QOmhMVP2ZXR6O-hx5Q/app+store_google+play.png" data-image-dimensions="285x101" data-image-focal-point="0.5,0.5" alt="app store_google play.png" data-load="false" data-image-id="60ac45cbf2cb164d1aee8bfe" data-type="image" />
  </div>

  </a>




</figure>


</div>






</div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-0fcc67cb98a4f2257562"><div class="sqs-block-content"><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">© 2021 Boo Enterprises, Inc.<br><a href="https://boo.world/privacy-policy">Privacy</a>    <a href="https://boo.world/terms-and-conditions">Terms</a>    <a href="mailto:hello@boo.world?subject=Hi%21">Contact</a></p><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">Made with ❤️ from around the world.</p><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small"><em>*Myers-Briggs® and MBTI® are registered trademarks of The Myers Briggs Company.</em></p><p class="" style="white-space:pre-wrap;"><br></p></div></div></div></div></div>
</div>
</div>
</section>


</footer>
