<header
data-test="header"
id="header"
class='

header theme-col--primary
'
data-controller="Header"
data-current-styles="{
&quot;layout&quot;: &quot;brandingCenter&quot;,
&quot;action&quot;: {
&quot;buttonText&quot;: &quot;Get Started&quot;,
&quot;newWindow&quot;: false
},
&quot;showSocial&quot;: true,
&quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
&quot;cartStyle&quot;: &quot;cart&quot;,
&quot;cartText&quot;: &quot;Cart&quot;,
&quot;showButton&quot;: false,
&quot;showCart&quot;: false,
&quot;showAccountLogin&quot;: true,
&quot;mobileOptions&quot;: {
&quot;layout&quot;: &quot;logoLeftNavRight&quot;,
&quot;menuIcon&quot;: &quot;doubleLineHamburger&quot;
},
&quot;showPromotedElement&quot;: false
}"
data-section-id="header"
data-header-theme=""
data-menu-overlay-theme=""

data-first-focusable-element
tabindex="-1"
>
<div class="sqs-announcement-bar-dropzone"></div>
<div class="header-announcement-bar-wrapper"
>

<a
href="#page"

tabindex="1"
class="header-skip-link"
>
Skip to Content
</a>

<div class='header-inner container--fluid



 header-mobile-layout-logo-left-nav-right









 header-layout-branding-center





'>
<!-- Background -->
<div class="header-background theme-bg--primary"></div>

<div class="header-display-desktop" data-content-field="site-title">











    <!-- Social -->





    <!-- Title and nav wrapper -->
    <div class="header-title-nav-wrapper">






        <!-- Nav -->
        <div class="header-nav">
          <div class="header-nav-wrapper">
            <nav class="header-nav-list">




<div class="header-nav-item header-nav-item--collection header-nav-item--homepage">
<a href="https://boo.world/" data-animation-role="header-element">

  Home
</a>
</div>






<div class="header-nav-item header-nav-item--collection">
<a href="https://boo.world/blog" data-animation-role="header-element">

  Blog
</a>
</div>






<div class="header-nav-item header-nav-item--collection">
<a href="https://boo.world/mbti-quizzes" data-animation-role="header-element">

  Quizzes
</a>
</div>






<div class="header-nav-item header-nav-item--folder">
<a class="header-nav-folder-title" href="https://boo.world/mbti-personalities" tabindex="-1" data-animation-role="header-element">Personalities</a>
<div class="header-nav-folder-content">


      <div class="header-nav-folder-item">
        <a href="https://boo.world/infj">INFJ - The Guardian</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/infp">INFP - The Peacemaker</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/enfj">ENFJ - The Hero</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/enfp">ENFP - The Crusader</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/intj">INTJ - The Mastermind</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/intp">INTP - The Genius</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/entj">ENTJ - The Commander</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/entp">ENTP - The Challenger</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/isfj">ISFJ - The Protector</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/isfp">ISFP - The Artist</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/esfj">ESFJ - The Ambassador</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/esfp">ESFP - The Performer</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/istj">ISTJ - The Realist</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/istp">ISTP - The Artisan</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/estj">ESTJ - The Executive</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/estp">ESTP - The Rebel</a>
      </div>



</div>
</div>








            </nav>
          </div>
        </div>


        <!-- Title -->

          <div
            class="
              header-title

            "
            data-animation-role="header-element"
          >

              <div class="header-title-logo">
                <a href="https://boo.world/" data-animation-role="header-element">
                  <img src="//static1.squarespace.com/static/5e085872c5728c661f30fa0a/t/608b5f253f3b2a046112c361/1623042394856/?format=1500w" alt="Boo" />
                </a>
              </div>



          </div>



    </div>


    <!-- Actions -->
    <div class="header-actions header-actions--right">



          <div class="header-actions-action header-actions-action--social">


                <a class="icon icon--fill" href="http://fb.me/boodatingapp" target="_blank" aria-label="">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#facebook-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://www.instagram.com/bootheapp" target="_blank" aria-label="">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#instagram-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://twitter.com/BooTheApp" target="_blank" aria-label="Twitter">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#twitter-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://fi.pinterest.com/BooAppOfficial/" target="_blank" aria-label="Pinterest">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#pinterest-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://www.youtube.com/channel/UCvY-fBuYSNIPrJI6rAOzgBA" target="_blank" aria-label="YouTube">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#youtube-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://www.linkedin.com/company/34751683" target="_blank" aria-label="LinkedIn">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#linkedin-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="http://www.tiktok.com/@boo_app" target="_blank" aria-label="URL">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#url-icon" width="110" height="110"></use>
                  </svg>
                </a>


          </div>







      <div class="showOnMobile">

      </div>


      <div class="showOnDesktop">

      </div>


    </div>


    <!-- Burger -->
    <div class="header-burger
    " data-animation-role="header-element">
      <button class="header-burger-btn burger" data-test="header-burger">
        <span hidden class="js-header-burger-open-title visually-hidden">Open Menu</span>
        <span hidden class="js-header-burger-close-title visually-hidden">Close Menu</span>
        <div class="burger-box">
          <div class="burger-inner
             header-menu-icon-doubleLineHamburger



          ">
            <div class="top-bun"></div>
            <div class="patty"></div>
            <div class="bottom-bun"></div>
          </div>
        </div>
      </button>
    </div>







</div>
<div class="header-display-mobile" data-content-field="site-title">


    <!-- Social -->





    <!-- Title and nav wrapper -->
    <div class="header-title-nav-wrapper">






        <!-- Nav -->
        <div class="header-nav">
          <div class="header-nav-wrapper">
            <nav class="header-nav-list">




<div class="header-nav-item header-nav-item--collection header-nav-item--homepage">
<a href="https://boo.world/" data-animation-role="header-element">

  Home
</a>
</div>






<div class="header-nav-item header-nav-item--collection">
<a href="https://boo.world/blog" data-animation-role="header-element">

  Blog
</a>
</div>






<div class="header-nav-item header-nav-item--collection">
<a href="https://boo.world/mbti-quizzes" data-animation-role="header-element">

  Quizzes
</a>
</div>






<div class="header-nav-item header-nav-item--folder">
<a class="header-nav-folder-title" href="https://boo.world/mbti-personalities" tabindex="-1" data-animation-role="header-element">Personalities</a>
<div class="header-nav-folder-content">


      <div class="header-nav-folder-item">
        <a href="https://boo.world/infj">INFJ - The Guardian</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/infp">INFP - The Peacemaker</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/enfj">ENFJ - The Hero</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/enfp">ENFP - The Crusader</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/intj">INTJ - The Mastermind</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/intp">INTP - The Genius</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/entj">ENTJ - The Commander</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/entp">ENTP - The Challenger</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/isfj">ISFJ - The Protector</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/isfp">ISFP - The Artist</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/esfj">ESFJ - The Ambassador</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/esfp">ESFP - The Performer</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/istj">ISTJ - The Realist</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/istp">ISTP - The Artisan</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/estj">ESTJ - The Executive</a>
      </div>




      <div class="header-nav-folder-item">
        <a href="https://boo.world/estp">ESTP - The Rebel</a>
      </div>



</div>
</div>





<div class="header-nav-item header-nav-item--collection">
<a href="https://boo.world/faq" data-animation-role="header-element">

  FAQ
</a>
</div>






            </nav>
          </div>
        </div>


        <!-- Title -->

          <div
            class="
              header-title

            "
            data-animation-role="header-element"
          >

              <div class="header-title-logo">
                <a href="https://boo.world/" data-animation-role="header-element">
                  <img src="//static1.squarespace.com/static/5e085872c5728c661f30fa0a/t/608b5f253f3b2a046112c361/1623042394856/?format=1500w" alt="Boo" />
                </a>
              </div>



          </div>



    </div>


    <!-- Actions -->
    <div class="header-actions header-actions--right">



          <div class="header-actions-action header-actions-action--social">


                <a class="icon icon--fill" href="http://fb.me/boodatingapp" target="_blank" aria-label="">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#facebook-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://www.instagram.com/bootheapp" target="_blank" aria-label="">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#instagram-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://twitter.com/BooTheApp" target="_blank" aria-label="Twitter">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#twitter-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://fi.pinterest.com/BooAppOfficial/" target="_blank" aria-label="Pinterest">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#pinterest-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://www.youtube.com/channel/UCvY-fBuYSNIPrJI6rAOzgBA" target="_blank" aria-label="YouTube">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#youtube-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="https://www.linkedin.com/company/34751683" target="_blank" aria-label="LinkedIn">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#linkedin-unauth-icon" width="110" height="110"></use>
                  </svg>
                </a>

                <a class="icon icon--fill" href="http://www.tiktok.com/@boo_app" target="_blank" aria-label="URL">
                  <svg viewBox="23 23 64 64">
                    <use xlink:href="#url-icon" width="110" height="110"></use>
                  </svg>
                </a>


          </div>







      <div class="showOnMobile">

      </div>


      <div class="showOnDesktop">

      </div>


    </div>


    <!-- Burger -->
    <div class="header-burger
    " data-animation-role="header-element">
      <button class="header-burger-btn burger" data-test="header-burger">
        <span hidden class="js-header-burger-open-title visually-hidden">Open Menu</span>
        <span hidden class="js-header-burger-close-title visually-hidden">Close Menu</span>
        <div class="burger-box">
          <div class="burger-inner
             header-menu-icon-doubleLineHamburger



          ">
            <div class="top-bun"></div>
            <div class="patty"></div>
            <div class="bottom-bun"></div>
          </div>
        </div>
      </button>
    </div>






</div>
</div>
</div>
<!-- (Mobile) Menu Navigation -->
<div class="header-menu header-menu--folder-list





"
data-current-styles="{
&quot;layout&quot;: &quot;brandingCenter&quot;,
&quot;action&quot;: {
&quot;buttonText&quot;: &quot;Get Started&quot;,
&quot;newWindow&quot;: false
},
&quot;showSocial&quot;: true,
&quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
&quot;cartStyle&quot;: &quot;cart&quot;,
&quot;cartText&quot;: &quot;Cart&quot;,
&quot;showButton&quot;: false,
&quot;showCart&quot;: false,
&quot;showAccountLogin&quot;: true,
&quot;mobileOptions&quot;: {
&quot;layout&quot;: &quot;logoLeftNavRight&quot;,
&quot;menuIcon&quot;: &quot;doubleLineHamburger&quot;
},
&quot;showPromotedElement&quot;: false
}"
data-section-id="overlay-nav"
data-show-account-login="true"
data-test="header-menu">
<div class="header-menu-bg theme-bg--primary"></div>
<div class="header-menu-nav">
<nav class="header-menu-nav-list">
  <div data-folder="root" class="header-menu-nav-folder">
    <!-- Menu Navigation -->
<div class="header-menu-nav-folder-content">

<div class="container header-menu-nav-item header-menu-nav-item--collection header-menu-nav-item--homepage">
<a href="https://boo.world/">

Home
</a>
</div>

<div class="container header-menu-nav-item header-menu-nav-item--collection">
<a href="https://boo.world/blog">

Blog
</a>
</div>

<div class="container header-menu-nav-item header-menu-nav-item--collection">
<a href="https://boo.world/mbti-quizzes">

Quizzes
</a>
</div>

<div class="container header-menu-nav-item">
<a data-folder-id="/mbti-personalities" href="https://boo.world/mbti-personalities">
<div class="header-menu-nav-item-content">
  <span class="visually-hidden">Folder:</span>
  <span>Personalities</span>
  <span class="chevron chevron--right"></span>
</div>
</a>
</div>
<div data-folder="/mbti-personalities" class="header-menu-nav-folder">
<div class="header-menu-nav-folder-content">
<div class="header-menu-controls container header-menu-nav-item">
<a class="header-menu-controls-control header-menu-controls-control--active" data-action="back" href="https://boo.world/">
  <span class="chevron chevron--left"></span><span>Back</span>
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/infj">

  INFJ - The Guardian
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/infp">

  INFP - The Peacemaker
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/enfj">

  ENFJ - The Hero
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/enfp">

  ENFP - The Crusader
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/intj">

  INTJ - The Mastermind
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/intp">

  INTP - The Genius
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/entj">

  ENTJ - The Commander
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/entp">

  ENTP - The Challenger
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/isfj">

  ISFJ - The Protector
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/isfp">

  ISFP - The Artist
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/esfj">

  ESFJ - The Ambassador
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/esfp">

  ESFP - The Performer
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/istj">

  ISTJ - The Realist
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/istp">

  ISTP - The Artisan
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/estj">

  ESTJ - The Executive
</a>
</div>

<div class="container header-menu-nav-item">
<a href="https://boo.world/estp">

  ESTP - The Rebel
</a>
</div>

</div>
</div>

<div class="container header-menu-nav-item header-menu-nav-item--collection">
<a href="https://boo.world/faq">

FAQ
</a>
</div>


</div>

    <div class="header-menu-actions">
      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="http://fb.me/boodatingapp" target="_blank" aria-label="">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#facebook-unauth-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="https://www.instagram.com/bootheapp" target="_blank" aria-label="">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#instagram-unauth-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="https://twitter.com/BooTheApp" target="_blank" aria-label="Twitter">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#twitter-unauth-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="https://fi.pinterest.com/BooAppOfficial/" target="_blank" aria-label="Pinterest">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#pinterest-unauth-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="https://www.youtube.com/channel/UCvY-fBuYSNIPrJI6rAOzgBA" target="_blank" aria-label="YouTube">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#youtube-unauth-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="https://www.linkedin.com/company/34751683" target="_blank" aria-label="LinkedIn">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#linkedin-unauth-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>

      <div class="header-menu-actions-action header-menu-actions-action--social">
        <a class="icon icon--lg icon--fill" href="http://www.tiktok.com/@boo_app" target="_blank" aria-label="URL">
          <svg viewBox="23 23 64 64">
            <use xlink:href="#url-icon" width="110" height="110"></use>
          </svg>
        </a>
      </div>
      </div>

  </div>
</nav>
</div>
</div>
</header>
